<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47F5376B48C71C002EFED5D37A549CF8B88CF644</string>
				<key>dateExpires</key>
				<string>7/23/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47F5376B48C71C002EFED5D37A549CF8B88CF644</string>
						<key>dateExpires</key>
						<string>7/23/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9C9859LMAS</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47F5376B48C71C002EFED5D37A549CF8B88CF644</string>
						<key>dateExpires</key>
						<string>7/23/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9C9859LMAS</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47F5376B48C71C002EFED5D37A549CF8B88CF644</string>
						<key>dateExpires</key>
						<string>7/23/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>9C9859LMAS.com.pinlog.app.ActionExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>9C9859LMAS</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.pinlog.app</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ActionExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>23c50fe5-5273-4883-a393-2b96c94bba99</string>
						<key>dateExpires</key>
						<string>7/23/27</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.pinlog.app.ActionExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9C9859LMAS</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47F5376B48C71C002EFED5D37A549CF8B88CF644</string>
						<key>dateExpires</key>
						<string>7/23/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>9C9859LMAS.com.pinlog.app.ShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>9C9859LMAS</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.pinlog.app</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>bec4fdf4-f642-4e51-8f62-4d77d7c7c0b0</string>
						<key>dateExpires</key>
						<string>7/23/27</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.pinlog.app.ShareExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9C9859LMAS</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9C9859LMAS.com.pinlog.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9C9859LMAS</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.pinlog.app</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>216e5e4e-85f0-4532-a51e-5de196842bb2</string>
				<key>dateExpires</key>
				<string>7/23/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.pinlog.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9C9859LMAS</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
